@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

html, body{
    font-family: 'Prompt', sans-serif;
    background: #f1f0f0;

    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.flink{
    color: blueviolet;
}